@media screen and (max-width: 768px) {
    .images-con{
        column-count: 2 !important;
    }
    .images-con2{
        width: 100% !important;
        margin: 0px !important;
    }
    .lower-row{
        justify-content: center !important;
    }
    .lower-row h6{
        margin-bottom: 10px;
    }
    .form-con{
        width: 100% !important;
    }
}